.auth {
  opacity: 1;
  visibility: visible;
  transition: .3s ease;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background: #ffffff20;
  border-radius: 15px;

  & h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
  }

  & form {
    display: flex;
    position: relative;
    flex-direction: column;
    background: black;
    border-radius: 15px;

    &::after {
      position: absolute;
      content: "";
      background: white;
      width: 90%;
      top: 50%;
      right: 0;
      z-index: 1;
      height: 4px;
      transform: translateY(-50%);
      border-radius: 15px;
    }

    & input {
      border: none;
      outline-offset: -2px;
      background: transparent;
      font-weight: 700;
      font-size: 28px;
      padding: 15px 10px;
      color: white;
      transition: .3s ease;

      &:nth-child(1) {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-top: 2px solid white;
      }

      &:nth-child(2) {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-left: 2px solid white;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
      }

      &:hover {
        box-shadow: 0px -5px 10px 0px white;
      }

      &:focus {
        box-shadow: 0px -5px 20px 0px white;
      }
    }

    & .btn-submit {
      transition: .3s ease;
      cursor: pointer;
      border: 8px solid #cccccc;
      width: 72px;
      height: 72px;
      border-radius: 10em;
      background: none;
      background-image: url(../../assets/submit.webp);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
      right: -7.5%;
      position: absolute;
      z-index: 2;

      &:hover {
        border: 8px solid white;
        background-image: url(../../assets/submit_hover.webp);
        filter: drop-shadow(0px 0px 10px white);
        scale: 1.025;
      }
    }
  }
}

/* #ccc8c3 */

.auth.discarded {
  opacity: 0;
  visibility: hidden;
}